<header>
  <div class="row text-white align-items-center fixed-top" style="background-color: white;">
      <div class="col-4 col-sm-4 col-md-8">
          <a href="index_bootstrap.html">
              <img src="/logoBlanco.png" class="img-fluid logo" alt="Logo de VitKat"
                  style="max-width: 50px;">
          </a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">

          <a href="iniciarSessio.html">
              <i class="fa-solid fa-user"></i>
              Iniciar sessió
          </a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
          <!-- Selector d'idioma -->
          <select name="idiomes">
              <option value="es">Español</option>
              <option value="ca">Català</option>
          </select>
      </div>
  </div>
</header>


