  <!-- Inici del peu de pàgina -->
  <footer class="bg-dark text-white p-4">
    <div class=" row align-items-center justify-content-center">
        <div class="col-md-3 col-12 mb-2">
            <a href="#">
                <img src="images/logo.png" alt="Logo de VitKat" width="200" height="200">
            </a>
        </div>
        <div class="col-md-3 col-12 mb-2">
            <h4 style="color: #ffc107;">Ajuda</h4>
            <p>Preguntes freqüents</p>
            <p>Condicions de compra</p>
            <p>Política de privadesa</p>
            <p>Canal de denúncies</p>
            <p>Avís legal</p>
        </div>
        <div class="col-md-3 col-12 mb-2">
            <h4 style="color: #ffc107;">Contacte</h4>
            <p>Formulari de contacte</p>
            <p>Whatsapp - 684541447</p>
            <p>Telèfon - 938748710</p>
        </div>
        <div class="col-md-3 col-12 mb-2">
            <h4 style="color: #ffc107;">Segueix-nos</h4>
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.x.com" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</footer>




